.ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-1irrntf {
  display: none;
}
.ant-table-content {
  background-color: #233044;
  margin-top: 20px;
  color: white;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  background-color: #233044;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #233044;
  color: white;
}
